doctype html
html
	head
		title RV Site
	body
		header
			h1 Rybalka Vano Site
		aside
			nav
				a(href = '/') Обо мне
				a(href = '/projects.html') Проекты
				a(href = '/contacts.html') Контакты
		article
			block main
		footer
			p 2016 &copy; Rybalka Vano